@font-face {font-family: 'iran_sans';src: url('../fonts/IRANSansWeb(FaNum)_UltraLight.eot?#') format('eot'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');}
html, body {height: 100%;width: 100%;}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'iran_sans' !important;
    background-color: #f0f4f7 !important;
    padding-top: 150px;
}
